					/* GENERALE */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
  -webkit-text-size-adjust: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  overflow-x: hidden;
  background: #ffffff;
  font-family:roboto, sanserif;
}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clear {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clear {
  height: 1%; }

.clear {
  display: block; }

/* close commented backslash hack */
/****************************************
BASIC ELEMENTS
*****************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

hr {
  clear: both;
  border: none;
  outline: none; }

em {
  font-style: italic; }

a {
  text-decoration: underline;
  font-family: 'roboto', sans-serif; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

ul, ol {
  font-size: 14px;
  padding: 0 0 0 33px; }
  ul li, ol li {
    margin: 0; }

blockquote {
  padding: 0 15px 0 40px; }

table {
  margin: 20px 0;
  width: 100%;
  font-size: 13px;
  background: white; }
  table th {
    font-weight: bold;
    font-size: 16px; }
  table tr td {
    padding: 7px; }

::selection {
  background: #00afec;
  color: white; }

::-moz-selection {
  background: #00afec;
  color: white; }

h1 {
  color: black;
  font-size: 3em;
  margin: 0;
  font-family: 'roboto', sans-serif; }

h2 {
  font-size: 2em;
  color: black;
  margin: 0;
  font-family: 'roboto', sans-serif; }

h3 {
  font-size: 16px;
  margin: 0.67em 0;
  font-family: 'roboto', sans-serif; }

h4 {
  font-size: 2em;
  margin: 0.67em 0;
  font-family: 'roboto', sans-serif; }

p {
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  line-height: 22px;
  margin: 0.8em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #333; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

header{
	margin:0;
}
.no-padding{
	padding:0 !important;
}
.no-margin{
	margin:0 !important;
}
.no-border-right{
	border-right:none !important;
} 
.no-padding-bottom{
	padding-bottom:0 !important;
}
.no-padding-left{
	padding-left:0 !important;
}
.no-padding-right{
	padding-right:0 !important;
}
.si-border-top{
	border-top:0.5px solid #ccc;
}
.float-right{
	float:right;
}
.margin-t-25{
	margin-top:25px !important;
}
/* FINE GENERALE */

/* HOMEPAGE */

/* STYLE MENU */

#logo {
  background-image: url(../images/mla-logo.jpg);
  background-size:contain;
  background-repeat:no-repeat;
  width:155px;
  padding:0;
  margin:0;
}

.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}
.menu-principale{
	float:right;
}
.menu-principale li a {
    font-size: 16px;
	line-height:40px;
	font-family:roboto;
    font-weight: 400;
    color: #333 !important;
    text-decoration: none;
	padding:0 0 0 35px;
		-webkit-transition: color 300ms ease-out;
		-moz-transition: color 300ms ease-out;
		-o-transition: color 300ms ease-out;
		transition: color 300ms ease-out;
}
.menu-principale li a:hover {
	color:#00afec !important;
	background-color:transparent !important;
}
.menu-interno li a {
    font-size: 14px;
    font-weight: 400;
    color: #00afec !important;
    text-decoration: none;
	padding:20px 0 15px 20px;
	-webkit-transition: color 300ms ease-out;
	-moz-transition: color 300ms ease-out;
	-o-transition: color 300ms ease-out;
	transition: color 300ms ease-out;
}
.menu-interno li a:hover {
	color:#00afec !important;
	background-color:transparent !important;
}
.sottomenu .dropdown-menu{
	border-radius:0 !important;
}
.sottomenu .dropdown-menu a {
    color: #333;
    padding: 0 20px;
    line-height: 35px;
    font-size: 14px;
}
@media screen and (max-width: 768px) {
	.menu-principale{
		padding:0 20px;
		/*float:none;*/
	}
	.dropdown ul.dropdown-menu:before {
		display:none;
	}
	.dropdown ul.dropdown-menu:after {
		display:none;
	}
}

/* FINE STYLE MENU */

.row-home-ricerca{
	margin:55px 0 10px;
}
h1.titolo-home {
    color: #00afec;
    font-family: roboto;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
	margin:0;
	padding:0;
}
h2.sottotitolo-home {
    font-family: roboto;
    font-weight: 300;
    font-size: 42px;
    line-height: 50px;
    color: rgba(0,0,0,0.7);
	padding:0;
	margin:0;
}
@media screen and (max-width: 767px) {
	h1.titolo-home {
    font-size: 19pt;
    line-height: 27pt;
}
h2.sottotitolo-home {
    font-size: 19pt;
    line-height: 27pt;
}
}
.form-homepage{
	margin:25px 0 0;
}
@media screen and (max-width: 767px) {
	form#form-mobile{
		display:none;
		height:100% !important;
	}
	
}
@media screen and (min-width: 768px) {
	#search-mobile{
		display:none;
	}
}
form#form-mobile {
    z-index: 999;
	height:76px;
	-webkit-box-shadow: 2px 2px 7px 0 #ccc;
    -moz-box-shadow: 2px 2px 7px 0 #ccc;
    box-shadow: 0px 0px 10px 0 #ddd;
}

.ricerca-home-input {
    width: 100% !important;
    border-radius: 0px !important;
    padding: 30px 12px 0;
    height: 76px;
	font-weight: 300;
	border:0.5px solid #d9d9d9;
	box-shadow:none !important;
	color: rgba(0,0,0,0.7);
	-webkit-appearance: none;
	font-size:16px;
}
.ricerca-home-button{
	position: absolute;
    right: 19px;
    top: 19px;
    width: 90px;
    height: 40px;
    border-radius: 0px;
    color: white;
    font-weight: 400;
    font-size: 15px;
    font-family: roboto, sans-serif;
    border: none;
    box-shadow: none;
	background-color: #00afec;
	-webkit-transition: background-color 500ms ease-out;
	-moz-transition: background-color 500ms ease-out;
	-o-transition: background-color 500ms ease-out;
	transition: background-color 500ms ease-out;
}
.ricerca-home-button:hover{
	background: #333;
	color:white;
}
.ricerca-home-button:active{
	background: #00afec;
	color:white;
}
.ricerca-home-button:focus{
	background: #00afec;
	color:white;
	outline:none;
}
label.ricerca-home-label {
    position: absolute;
    padding: 12px 0 0 12px;
    font-size: 14px;
    color: rgba(0,0,0,0.7);
}
@media screen and (max-width: 767px) {
	.ricerca-home-input {
		border-top:none;
		border-left:none;
		border-right:none;
	}
	.form-homepage{
		position:fixed;
		top:0;
		left:0;
		width:100%;
		margin-top:0;
		height:100%;
		background:white;
		padding:0 10px;
	}
	.ricerca-home-button{
		position: initial;
		width: 100%;
		height: 35px;
		margin:30px 0 0;
	}
}
.box-codice-viaggio{
	padding:0;
	margin:15px 0 0;
}
.punto-inter{
	color:#333;
	cursor:pointer;
	display:block;
	width:10%;
	float:left;
}
.codice-viaggio-sx{
	padding:7px 0;
	overflow:auto;
}
.action-codice-viaggio{
	color: #333;
	font-size:15px;
	text-decoration:none;
	display:block;
	width:90%;
	float:right;
	font-weight:400;
}
.action-codice-viaggio:hover{
	color: #333;
	text-decoration:underline;
}
.action-codice-viaggio:focus{
	color: #00afec;
	text-decoration:none;
	outline:none;
}
.codice-viaggio-input{
	width: 100% !important;
    border-radius: 0px !important;
    padding: 0px 10px;
    height: 30px;
    font-weight: 300;
    border: 0.5px solid #ccc;
    color: #bcbcbc;
    font-size: 15px;
	box-shadow:none !important;
	-webkit-appearance: none;
}
@media screen and (max-width: 767px) {
	.codice-viaggio-input{
		border-right:0;
		border-left:0;
		margin:10px 0 0;
		height:36px;
	}
	.codice-viaggio-button{
		top: 12px !important;
	}
	.box-codice-viaggio{
		margin:10px 0 0;
	}
	.codice-viaggio-sx{
		width:100%;
	}
}
.codice-viaggio-button{
	position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: auto;
    border-radius: 0px;
    font-weight: 400;
    font-size: 10pt;
    font-family: roboto, sans-serif;
    border: none;
    background: none;
	color: #00afec;
	-webkit-transition: color 1s ease-out;
	-moz-transition: color 1s ease-out;
	-o-transition: color 1s ease-out;
	transition: color 1s ease-out;
}
.codice-viaggio-button:hover{
	background:none;
	color:#00afec;
}
.box-exit-ricerca{
	display:none;
}
@media screen and (max-width: 767px) {
	.box-exit-ricerca{
		margin: 20px 5px;
		display:block;
	}
}
.exit-form-ricerca{
	color:black;
}
@media screen and (min-width: 768px) {
	.exit-form-ricerca{
		display:none;
	}
}
@media screen and (width: 768px) {
	.container-slider-cataloghi{
		margin:20px auto !important;
	}
}
.popover.bottom {
	z-index:9999;
}
.container-slider-cataloghi{
	position:relative;
	padding-right:0;
	margin:0 auto 30px;
}
.container-slider-evidenza{
	position:relative;
	padding-right:0;
}
.box-ricerca-mobile{
	height: 55px;
    display: block;
    width: 100%;
    border: 0.5px solid #d9d9d9;
    padding: 20px 15px;
    font-size: 15px;
    font-weight: 400;
    font-family: roboto, sans-serif;
    text-decoration: none;
    color: #ccc;
    margin: 30px 0;
	background:url(../images/icona_ricerca.png) no-repeat right 15px center;
	box-shadow:0px 0px 10px #ddd;
}

/* STYLE CAROUSEL BOX CATALOGHI */

.swiper-container {
	width: 100%;
	height: 194px;
	margin: 20px auto;
}
@media screen and (max-width: 767px) {
	.swiper-container{
		margin:0 auto;
	}
}
.swiper-slide {
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	flex-shrink: 0;
	width: 100%;
	max-width: 260px;
	height: 194px;
	position: relative;
	text-align: center;
	cursor:pointer;
}
@media screen and (max-width: 768px) {
	.swiper-button-next{
		display:none;
	}
	.swiper-button-next{
		display:none;
	}
}
.box-catalogo{
	width:230px;
	height:172px;
	position:relative;
}
.box-catalogo img {
  	position:absolute;
  	width:260px;
 	height:194px;
	top:0;
	left:0;
}
.box-catalogo .contenuto-box-catalogo {
  	width:260px;
  	height:194px;
  	background:#333;
  	position:absolute;
  	margin:0;
  	padding:18px;
  	visibility:hidden;
}
.box-catalogo:hover .contenuto-box-catalogo {
  	visibility:visible;
}
.box-catalogo .contenuto-box-catalogo h3{
	font-size:12px;
	line-height:18px;
	color:white;
	font-family:roboto, sanserif;
	font-weight: 400;
	text-align:left;
	text-transform:uppercase;
	margin-top:0;
}
.box-catalogo .contenuto-box-catalogo p{
	font-size:12px;
	line-height:18px;
	color:white;
	font-family:roboto, sanserif;
	font-weight: 400;
	text-align:left;
}
@media screen and (max-width: 1024px) {
	.contenuto-box-catalogo{
		display:none;
	}
}
/* FINE STYLE CAROUSEL BOX CATALOGHI */

span.titolo-section {
    font-size: 32px;
    font-family: roboto, sans-serif;
    line-height: 40px;
    font-weight: 300;
    margin: 15px 0;
    padding: 0;
    display: block;
    color: rgba(0,0,0,0.7);
}
span.titolo-section strong{
    font-size: 32px;
    font-family: roboto, sans-serif;
    line-height: 40px;
    font-weight: 400;
	vertical-align:top;
	color: rgba(0,0,0,0.7);
}
@media screen and (max-width: 767px) {
	span.titolo-section {
		font-size:20px;
		line-height:20px;
	}
	span.titolo-section strong{
		font-size:20px;
		line-height:20px;
	}
}

/* STYLE CAROUSEL BOX EVIDENZA */

.swiper-container-2 {
	width: 100%;
	height: 412px;
	margin: 20px auto;
}
.swiper-container-2 .swiper-slide {
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	flex-shrink: 0;
	width: 100%;
	max-width: 205px;
	height: 412px;
	position: relative;
	text-align: center;
	cursor:pointer;
}
@media screen and (max-width: 767px) {
	.swiper-container-2 {
		margin: 18px auto 20px;
	}
}
.box-evidenza p{
	font-size: 14px;
    line-height: 24px;
    text-align: left;
    margin: 0;
    padding: 0;
    vertical-align: top;
    color: rgba(0,0,0,0.6);
    font-weight: 400;
}   
.box-evidenza p strong{
	font-size: 14px;
    line-height: 18px;
    text-align: left;
    margin: 0;
    padding: 0;
    vertical-align: top;
	font-weight:400;
}
h4.titolo-evidenza {
        font-size: 14px;
    text-align: left;
    margin: 10px 0 0;
    padding: 0;
    LINE-HEIGHT: 22px;
    color: #00afec;
    font-weight: 500;
}
a.link-evidenza {
    color: #00afec;
    text-align: left;
    font-size: 15px;
    text-decoration: none;
    float: left;
    margin: 0;
    font-weight: 300;
    line-height: 22px;
}

/* FINE STYLE CAROUSEL BOX EVIDENZA */

.container-elementi-home hr{
	background:#ccc;
	height:1px;
	margin:0;
	padding:0;
}
.colonna-home-sx{
	padding:12px;
}
.colonna-home-sx h4{
	font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 768px) {
	.colonna-home-sx {
		padding-left:0;
	}
}
.colonna-home-dx{
	padding:12px 0;
}
.colonna-home-dx p{
	font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.6);
}
@media screen and (max-width: 767px) {
	.colonna-home-sx{
		padding:12px 0;
	}
	.colonna-home-dx{
		padding:0 0 12px;
	}
}
.morecontent span {
    display: none;
}
a.morelink {
    display: block;
	font-size:14px;
	line-height:23px;
	color:#00afec;
	text-decoration:none;
}
a.morelink:hover {
	text-decoration:none;
}
.morecontent span{
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    margin: 0;
    padding: 0;
    color: #333;
	vertical-align:top;
}
.moreellipses{
	font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    margin: 0;
    padding: 0;
    color: #333;
}
.titolo-evento{
	color: #333;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    margin: 0 0 10px;
    padding: 0;
    display: block;
}
.singolo-evento{
	height: auto;
    width: 100%;
    border-bottom: 0.5px solid #ccc;
    padding: 6px 0;
}
.giorno-cal-evento {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
	position:relative;
	float:left;
}
a.singolo-evento-collapse {
    text-decoration: none;
}
span.num-cal-evento {
    position: absolute;
    top: 13px;
    left: 6px;
    color: #00afec;
    font-weight: 400;
    font-family: roboto, sans-serif;
	text-align:center;
}
span.citta-evento {
    font-size: 15px;
    font-weight: 400;
    margin: 0 20px;
    display: block;
    float: left;
    line-height: 32px;
	color:#333;
}
span.data-evento {
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(0,0,0,0.6);
}
span.slash-evento {
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
	color:#333;
}
span.tipo-evento {
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
	color: #333;
}
a.iscriviti-evento {
	font-size: 15px;
    font-weight: 300;
    line-height: 32px;
	color: #00afec;
	text-decoration:none;
	float:right;
}
a.iscriviti-evento:hover {
	text-decoration:underline;
}
@media screen and (max-width: 767px) {
	span.slash-evento {
		display:none;
	}
	span.tipo-evento {
		display:none;
	}
}
.singolo-evento-contenuto {
    padding: 0 50px;
}
.singolo-evento-contenuto .panel-body{
	padding:0;
	font-size:14px;
	font-weight: 400;
	line-height:20px;
}
.visualizza-calendario-eventi{
	color: #00afec;
    font-size: 15px;
    text-decoration: none;
    font-weight: 400;
    line-height: 45px;
}
.visualizza-calendario-eventi:hover{
	text-decoration:underline;
	color: #00afec;
}
.img-test-inglese{
	width:100%;
}
.titolo-test-inglese{
	color:#333;
	font-size:15px;
	line-height:23px;
	font-weight: 400;
	margin:0;
	padding:12px 0 0;
	display:block;
	float:left;
}
.link-test-inglese{
	font-size: 15px;
    font-weight: 300;
    line-height: 23px;
    color: #00afec;
    text-decoration: none;
    float: right;
    padding: 12px 0 0;
}
.link-test-inglese:hover{
	text-decoration:underline;
	color: #00afec;
}
@media screen and (max-width: 767px) {
	.link-test-inglese{
		padding:0 0 12px;
		float:left;
	}
}
.richiedi-cat{
	padding:0;
	position:relative;
	margin:10px 0 0;
}
.domande-contattaci{
	padding:0;
	position:relative;
	margin:10px 0 0;
}
.richiedi-cat img {
    width: 100%;
    height: auto;
    border: none;
	padding:0 6px 0 0;
}
.domande-contattaci img {
    width: 100%;
    height: auto;
    border: none;
	padding:0 0 0 6px;
}
.domande-contattaci .box-rosso-tit {
	left:6px;
}
.box-rosso-tit {
    width: 125px;
    height: 50px;
	background-color:#00afec;
	position:absolute;
	bottom:0;
	left:0;
}
.box-rosso-tit p{
	font-size: 15px;
    line-height: 18px;
    color: white;
    text-align: center;
    font-weight: 300;
    display: block;
    margin: 8px auto;
}
@media screen and (max-width: 767px) {
	.richiedi-cat img {
		padding-right:0;
	}
	.domande-contattaci img{
		padding-left:0;
	}
	.domande-contattaci .box-rosso-tit {
		left:0;
	}
	.richiedi-cat{
		width:100%;
	}
	.domande-contattaci{
		width:100%;
	}
}
@media screen and (width: 768px) {
	.richiedi-cat img {
		padding-right:6px;
	}
	.domande-contattaci img{
		padding-left:6px;
	}
	.domande-contattaci .box-rosso-tit {
		left:6px;
	}
}
@media screen and (max-width: 768px) {
	.swiper-button-prev,
	.swiper-button-prev-2,
	.swiper-button-next,
	.swiper-button-next-2{
		display:none;
	}
	.titolo-test-inglese{
		padding:12px 0;
	}
}
.container-anni{
	padding-top:40px;
	position:relative;
	margin:0 auto 25px;
	padding-right:0;
}

/* STYLE CAROUSEL BOX 40 ANNI */

.swiper-container-3 {
	width: 100%;
	height: 192px;
	margin: 20px auto 10px;
}
.swiper-container-3 .swiper-slide {
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	flex-shrink: 0;
	width: 100%;
	max-width: 352px;
	height: 192px;
	position: relative;
	text-align: center;
}
a.maggiori-info{
	color:#00afec;
	font-size:15px;
	line-height:18px;
	font-weight:400;
	text-decoration:none;
}
a.maggiori-info:hover{
	text-decoration:underline;
}
.box-anni:last-child{
	margin-right:0 !important;
}

/* FINE STYLE CAROUSEL BOX 40 ANNI */

/* STYLE CAROUSEL BLOG */

.swiper-container-4 {
	width: 100%;
	height: 290px;
	margin: 20px auto 0;
}
.swiper-container-4 .swiper-slide {
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	flex-shrink: 0;
	width: 343px;
	max-width: 343px;
	height: 264px;
	position: relative;
	text-align: center;
	cursor:pointer;
}
.container-blog{
	position:relative;
    padding-right: 0;
}
.contenitore-singolo-feed{
	width:343px;
	height:264px;
	background-color:white;
	padding:13px;
	text-align:left;
}
.contenitore-singolo-feed h4{
	color:#00afec;
	font-weight:400;
	text-transform:uppercase;
	font-size:13px;
	line-height:18px;
	margin:0;
}
.contenitore-singolo-feed p{
	font-weight:300;
	font-size:12px;
	line-height:18px;
}
a.link-leggi-blog {
    color: #00afec;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
}
a.link-leggi-blog:hover {
	text-decoration:underline;
}
.contenitore-singolo-feed img{
	width:65px;
	height:65px;
	border-radius:65px;
}
/* FINE STYLE CAROUSEL BLOG */
footer {
    border-top: 0.5px solid #ccc;
    margin: 30px 0 0;
}
.container-footer{
	padding:30px 0 0;
}
.colonna-footer{
	padding:0;
	margin:0;
}
.colonna-footer-admin div {
    width: 130px;
    height: 45px;
}
.colonna-footer-admin{
	padding:0;
	margin:0;
}
@media screen and (max-width: 768px) {
	.colonna-footer{
		padding:0 0 12px;
	}
}
@media screen and (max-width: 767px) {
	.colonna-footer-admin{
		width:280px;
		margin: 0 auto 25px;
    	height: 45px;
		float:none;
	}
	.select-footer-lingua{
		margin:0 0 0 15px;
	}
	.container-footer{
		padding:25px 15px 0 15px !important;
	}
	.colonna-footer-admin div {
		float:left;
	}
}
@media screen and (width: 768px) {
	.select-footer-lingua{
		margin:15px 0 0;
	}
	.container-footer{
		padding:25px 15px 0 15px !important;
	}
}
a.admin-footer{
	width:130px;
	height:45px;
	font-size:14px;
	line-height:45px;
	color: #00afec;
	font-weight:400;
	border:0.5px solid #ccc;
	text-decoration:none;
	text-align:center;
	margin: 0 15px 15px 0;
	float:left;
	background-color:white;
	-webkit-transition: background-color 500ms ease-out;
	-moz-transition: background-color 500ms ease-out;
	-o-transition: background-color 500ms ease-out;
	transition: background-color 500ms ease-out;
}
a.admin-footer:hover{
	background-color: #00afec;
	color:white;
	text-decoration:none;
}
.select-lingua{
    width: 130px;
    height: 45px;
    font-size: 14px;
    line-height: 45px;
    font-weight: 400;
    border: 0.5px solid #ccc;
    text-decoration: none;
    text-align: center;
    margin: 0 0 15px;
	border-radius:0 !important;
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    padding-top: 0;
    padding-bottom: 12px !important;
    background-color: transparent !important;
    padding-left: 12px !important;
    padding-right: 40px !important;
}
.arrow-select{
    position: absolute !important;
    top: 20px !important;
    right: 20px !important;
    line-height: 0 !important;
    pointer-events: none !important;
}
.container-select-lingua{
	position:relative;
	width:130px;
	float:left;
}
.titolo-colonna-footer{
	color: #00afec;
    font-size: 13px;
    line-height: 26px;
    font-weight: 400;
}
.colonna-footer ul{
	padding:0;
	margin:20px 0 0;
}
.colonna-footer li{
    font-size: 13px;
    line-height: 26px;
    list-style: none;
    font-weight: 400;
}
.colonna-footer li a{
	color:rgba(0,0,0,0.6);
	text-decoration:none;
}
.colonna-footer li a:hover{
	text-decoration:underline;
}
@media screen and (max-width: 767px) {
	.colonna-footer{
		display:none;
	}
}
.copyright{
	border-top:1px solid #ccc;
	padding: 30px 0 0;
    margin: 30px 0;
}
.copyright img{
	width:43px;
	height:auto;
	float:left;
	margin:0 5px 0 0;
}
.copyright p{
	font-size:12.5px;
	font-weight:300;
	margin:0;
	padding:0;
}
.menu-superiore{
	padding:15px 0 0;
	float:right;
}
.menu-inferiore{
	padding:0;
	float:right;
}
.header-admin{
	width:100px;
	height:30px;
    font-size: 11px;
    line-height: 30px;
    color: #333;
    font-weight: 400;
    border: 0.5px solid #ccc;
    text-decoration: none;
    text-align: center;
    margin: 0;
    float: left;
    background-color: white;
    -webkit-transition: background-color 500ms ease-out;
    -moz-transition: background-color 500ms ease-out;
    -o-transition: background-color 500ms ease-out;
    transition: background-color 500ms ease-out;
}
.box-rosso-cat {
    width: 97px;
    height: 54px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 0;
	/*opacity:0.95;*/
}
.box-rosso-cat p {
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 54px;
    margin: 0 !important;
    text-transform: uppercase;
    font-family: roboto, sans-serif;
}
@media screen and (max-width: 767px) {
	.campo-ricerca-home{
		width:100%;
	}
	.input-codice-viaggio {
		width: 100%;
	}
}
.icona-social i {
    vertical-align: middle;
    padding: 6px 0 6px 12px;
    color: #fff;
    font-size: 13px;
    display: inline-block;
	-webkit-transition: color 300ms ease-out;
	-moz-transition: color 300ms ease-out;
	-o-transition: color 300ms ease-out;
	transition: color 300ms ease-out;
}
.icona-social i:hover {
	color:#00afec;
}
a.icona-social,
a.icona-area-riservata{
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 24px;
    text-align: center;
	float:right;
	margin:2px 0 0 5px;
}
.contenitore-social{
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
	float:right;
	padding:2px 0;
	width:126px;
}
.contenitore-area-riservata{
	float:right;
	padding:2px 0;
}
@media screen and (max-width: 830px) {
	.contenitore-social{
		display:none !important;
	}
}
li.admin-menu a{
	color: #00afec !important;
}
li.admin-menu a:hover{
	color:#333 !important;
}
.contenitore-menu{
	margin-top:30px;
}
/* FINE HOMEPAGE */

/* INIZIO CENTRO ADULTI */

.immagine-centro{
	padding:0;
}
@media screen and (max-width: 768px) {
	.menu-interno li {
		float: left;
	}
}
.lista-breadcrumb {
    background: #fff;
    margin: 0;
    height: 55px;
	padding:0;
	border-radius:0;
}
.lista-breadcrumb li{
	line-height:54px;
}
.contenuto-centro {
    margin: 0;
}
@media screen and (max-width: 768px) {
	.contenuto-centro {
		margin: 0;
	}
	.contenitore-breadcrumb{
		display:none;
	}
}
.contenitore-prezzo-centro{
	height:55px;
	background: rgba(51,51,51,0.9);
	color:white;
	line-height:55px;
	float:left;
	text-transform:uppercase;
	font-size:14px;
	font-weight: 400;
	display:block;
	width:100%;
}
.contenitore-prezzo-centro p{
	color:white;
	line-height:55px;
	float:right;
	font-size:32px;
	font-weight: 400;
	margin:0;
	padding:0;
}
a.bottone-preventivo-centro {
    display: block;
    float: left;
    width: 100%;
    height: 35px;
    color: white;
	background: #00afec;
    line-height: 35px;
    text-decoration: none;
	font-size:13px;
	font-weight: 400;
	text-align:center;
	margin: 13px 0;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	-o-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
}
a.bottone-prenota-centro {
    display: block;
    float: right;
    width: 100%;
    height: 35px;
    color: white;
    background: #00afec;
    line-height: 35px;
    text-decoration: none;
	font-size:13px;
	font-weight: 400;
	text-align:center;
	margin: 13px 0;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	-o-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
}
a.bottone-preventivo-centro:hover,
a.bottone-prenota-centro:hover{
	background:#333;
}
a.bottone-contatta-centro {
    border: 1px solid #ccc;
    color: #333;
    text-decoration: none;
    text-align: center;
	display:block;
	width:100%;
	height:38px;
	line-height:38px;
	font-weight: 400;
}
.box-iscriviti-dx {
    padding: 14px 0 27px;
    border-right: 0.5px solid #ccc;
	border-left: 0.5px solid #ccc;
	border-bottom: 0.5px solid #ccc;
}
.box-titolo-centro{
	padding:0;
	margin:10px 0 0;
}
.box-titolo-centro h1.titolo-centro{
	color:#333;
	font-size:36px;
	line-height:42px;
	font-weight: 300;
}
.box-titolo-centro h1.titolo-centro strong{
	font-weight:400;
	line-height:45px;
}
.box-titolo-centro span{
	color:#333;
	font-size:36px;
	line-height:46px;
	font-weight: 300;
}
.lista-breadcrumb li a {
    color: #333;
    text-decoration: none;
    font-weight: 300;
}
.lista-breadcrumb li a:hover {
	text-decoration:underline;
}

/* INIZIO STILE TAB CENTRO */

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { 
	border-width: 0;
	outline:none;
}
.nav-tabs > li > a { 
	border: none; 
	color: #666;
	text-decoration:none;
	text-align:center;
	margin-right:0;
	border-radius:0;
}
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { 
	border: none; 
	color: #00afec !important; 
	background: transparent;
	text-decoration:none;
	font-weight:400;
}
.nav-tabs > li > a::after { 
	content: ""; 
	background: #00afec; 
	height: 2px; 
	position: absolute; 
	width: 100%; 
	left: 0px; 
	bottom: 0px; 
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease 0s; 
	transform: scale(0); 
}
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { 
	transform: scale(1);
}
.tab-nav > li > a::after { 
	background: #00afec none repeat scroll 0% 0%; 
	color: #fff; 
}
.tab-pane { 
	padding: 15px 0; 
}
.tab-content{
	padding:20px;
}
.card {
	/*background: #FFF none repeat scroll 0% 0%; 
	margin-bottom: 30px; */
}

/* FINE STILE TAB CENTRO */

.contenitore-tab-centro{
	margin:50px auto 0;
}
.contenitore-tab-centro .nav-tabs {
    border-bottom: 0.5px solid #ccc;
}
@media screen and (max-width: 768px) {
	.box-prezzo-centro-dx{
		margin:25px 0;
	}
	.titolo-tab {
		width: 100%;
		border-bottom: 0.5px solid #ccc;
	}
	.contenitore-tab-centro .nav-tabs > li {
		float: left;
		margin-bottom: 0;
	}
	.contenitore-tab-centro .nav-tabs {
		border-bottom: 0;
	}
	.nav-tabs > li > a::after { 
		height:1px;
	}
}

/* FANCY COLLAPSE PANEL STYLES */
.collapse-centro .panel-default > .panel-heading {
	padding: 0;
}
.collapse-centro .panel-heading a.pannello-interno{
	background-color:#eee;
	-webkit-transition: padding 300ms ease-out;
	-moz-transition: padding 300ms ease-out;
	-o-transition: padding 300ms ease-out;
	transition: padding 300ms ease-out;
}
.collapse-centro .panel-heading a.pannello-interno:hover{
	background-color:#fff;
}
.collapse-centro .panel-heading a.pannello-interno[aria-expanded="true"]{
	background-color:#fff;
	/*padding-left:5px;*/
}
.collapse-centro .panel-heading a {
	display: inline-block;
    width: 100%;
    background-color: #fff;
    position: relative;
    text-decoration: none;
    height: 110px;
    font-size: 16px;
    font-weight: 300;
	padding: 16px 20px;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	-o-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
}
.collapse-centro .panel-heading a:hover {
	background-color:#fff;
}
.collapse-centro .panel-heading a[aria-expanded="true"]{
	background-color:#fff;
}
.collapse-centro .panel-heading a:hover span,
.collapse-centro .panel-heading a:hover span strong {
	color:#00afec;
}
.collapse-centro .panel-heading a[aria-expanded="true"] span,
.collapse-centro .panel-heading a[aria-expanded="true"] span strong{
	color:#00afec;
}
.collapse-centro .panel-heading a:hover:after{
	color:#00afec;
}
.collapse-centro .panel-heading a[aria-expanded="true"]:after{
	color:#00afec;
}
.collapse-centro .panel-heading a:after {
	font-family: "FontAwesome";
	content: "\f106";
	position: absolute;
	right: 20px;
	font-size: 20px;
	font-weight: 400;
	top: 50%;
	line-height: 1;
	margin-top: -10px;
	color:#333;
}
.collapse-centro .panel-heading a.collapsed:after {
	content: "\f107";
}
.collapse-centro .panel-heading.panel-interno a:after {
	font-family: "FontAwesome";
	content: "\f147";
	position: absolute;
	right: 20px;
	font-size: 20px;
	font-weight: 400;
	top: 50%;
	line-height: 1;
	margin-top: -10px;
	color:#00afec;
}
.collapse-centro .panel-heading.panel-interno a.collapsed:after {
	content: "\f196";
}
.collapse-centro .panel-heading a.pannello-interno {
    height: 45px;
    padding: 15px 5px;
	font-weight:400;
	font-size:16px;
}
.corso-centro-contenuto .panel-body.panel-body-interno {
    background-color: #eee;
    margin: 15px 15px 0;
    border: none !important;
    padding: /*0 12px*/ 0;
    box-shadow: none !important;
}
span.titolo-centro-sx {
    display: block;
    float: left;
    font-size: 17px;
    line-height: 25px;
    color: #333;
}
span.titolo-centro-sx strong{
	font-weight:400;
	color:#333;
}
span.titolo-centro-dx {
    display: block;
    float: right;
    margin: 0 100px 0 0;
    font-size: 17px;
    line-height: 25px;
    color: #333;
    padding: 12px 0;
}
span.titolo-centro-dx strong{
	font-weight:400;
	color:#333;
}
@media screen and (max-width: 767px) {
	span.titolo-centro-dx {
		display: none;
	}
	.contenuto-centro .box-prezzo-centro-dx{
		width:100%;
	}
	.contenuto-centro .box-titolo-centro-sx{
		width:100%;
	}
}
/*.corso-centro-contenuto{
	background-color:#eee;
	padding:1px;
}*/
.corso-centro-contenuto .panel-body{
	border:none !important;
	background-color:white;
	margin:5px 0 0;
}
span.titolo-carat-corso {
    font-size: 15px;
    font-weight: 400;
    color: #333;
}
.corso-centro-contenuto .col-md-2 p {
    font-weight: 300;
    font-size: 14px;
}
.corso-centro-contenuto .col-md-3 p {
    font-weight: 300;
    font-size: 13px;
}
.tabella-centro-prezzi th,
.tabella-centro-supplementi th {
    font-size: 14px;
    font-weight: 400;
	vertical-align:top !important;
}
table.tabella-centro-prezzi td,
table.tabella-centro-supplementi td {
    padding:10px 5px !important;
	font-weight:300;
}
.tabella-centro-prezzi,
.tabella-centro-supplementi{
	margin:0 ;
}
.centro-caratteristica{
}
.corso-centro-contenuto a.bottone-preventivo-centro {
    display: block;
    float: left;
    width: 137px;
    height: 35px;
    color: white;
	background: #00afec;
    line-height: 35px;
    text-decoration: none;
	font-size:13px;
	font-weight: 400;
	text-align:center;
	margin: 10px 13px 13px 0;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	-o-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
}
.corso-centro-contenuto a.bottone-prenota-centro {
    display: block;
    float: left;
    width: 137px;
    height: 35px;
    color: white;
    background: #00afec;
    line-height: 35px;
    text-decoration: none;
	font-size:13px;
	font-weight: 400;
	text-align:center;
	margin: 10px 13px 0 0;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	-o-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
}
.corso-centro-contenuto a.bottone-preventivo-centro:hover,
.corso-centro-contenuto a.bottone-prenota-centro:hover {
	background-color:#333;
}
.collapse-centro .panel{
	border-radius:0;
}
.collapse-centro .panel-group{
	margin:/*0 0 20px*/ 0px;
}
.titolo-tab a {
    font-size: 19px;
}
.tab-sistemazione{
	padding:20px 0;
}
.tab-sistemazione span{
	font-size:26px;
	font-weight:400;
}
.tab-sistemazione p{
	font-size:15px;
	line-height:22px;
	font-weight: 400;
	margin: 10px 0 22px;
}
.bottone-scheda-dettagliata{
	padding:0;
	font-size:15px;
	color:#00afec;
}
.bottone-scheda-dettagliata:hover{
	color:#00afec;
	text-decoration:underline;
}
.bottone-scheda-dettagliata:focus{
	outline:none;
	color:#00afec;
}
.bottone-scheda-dettagliata i {
    padding: 0 4px 4px 0;
    margin: 0;
}
.scheda-dettagliata {
    background-color: #fff;
	padding:20px;
}
.box-scheda-dettagliata{
	background-color:#eee;
}
.scheda-dettagliata span{
	font-size:28px;
	font-weight:600;
	text-align:center;
	display:block;
}
.scheda-dettagliata p{
	font-size:15px;
	line-height:22px;
	margin:15px 0;
	font-weight: 400;
}
.collapse-centro .panel-default {
    /*border-bottom: 1px solid #ccc;*/
	border-bottom:none;
    box-shadow: none;
    border-top: none;
    border-right: none;
    border-left: snow;
    margin: 15px 0 0 !important;
}
.panel-body-interno .panel-default {
    border-bottom: none;
	margin-top:0 !important;
}
.contenitore-topbar {
    width: 100%;
    border-bottom: 0.5px solid #ccc;
    height: 35px;
    background-color: #333;
}
.topbar-sx {
    padding: 0;
}
.topbar-dx {
    padding: 0;
}
.contenitore-topbar .topbar-sx li a {
    padding: 0 15px 0 0;
    line-height: 35px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
	-webkit-transition: color 300ms ease-out;
	-moz-transition: color 300ms ease-out;
	-o-transition: color 300ms ease-out;
	transition: color 300ms ease-out;
}
.contenitore-topbar .topbar-sx li a:hover {
	background:none;
	color: #00afec;
}
@media screen and (max-width: 768px) {
	.contenitore-topbar {
		display:none;
	}
}
.contenitore-topbar .topbar-sx li a:focus {
    background: none;
    outline: none;
}
.menu-interno{
	float:right;
}
.panel-body-opzioni{
	padding:10px;
}
.freccia-codice-viaggio {
    margin: 0 10px 0 0;
}
.titolo-tab a {
    border: none;
    color: #bcbcbc !important;
    text-decoration: none;
    text-align: center;
    margin-right: 0;
    border-radius: 0;
    font-weight: 400;
	font-size:16px;
}
.contenitore-tab-centro .tab-pane {
    padding: 0;
}
.panel-body.panel-body-opzioni {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.collapse-centro.sistemazione .panel-heading a {
    height: 50px;
    color: #333;
    font-weight: 400;
}
.sistemazione .panel-body p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

/* STYLE CAROUSEL IMMAGINI SISTEMAZIONE */

.swiper-container-5 {
	width: 100%;
	height: 200px;
	margin:0 auto;
}
.swiper-container-5 .swiper-slide {
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	flex-shrink: 0;
	width: 100%;
	max-width: 250px;
	height: 200px;
	position: relative;
	text-align: center;
	cursor:pointer;
}
.box-immagine-sistemazione img{
	position: absolute;
    height: 200px;
	width:250px;
    top: 0;
    left: 0;
}
.container-slider-gallery-centro {
    width: 100%;
	position:relative;
}
.box-immagine-sistemazione{
	position:relative;
	width:250px;
	height:200px;
}

/* FINE STYLE IMMAGINI SISTEMAZIONE */

.collapse-centro .panel-heading a.pannello-interno {
    height: 45px;
    padding: 15px 5px 15px 0;
    font-weight: 400;
    font-size: 16px;
    color: #00afec;
    text-align: left;
    text-transform: none;
    background-color: #fff;
}
.sistemazione .panel-body.panel-body-opzioni {
    margin-bottom: 0 !important;
}
/*.sistemazione.collapse-centro .panel-heading a.pannello-interno[aria-expanded="true"] {
    background-color: #fff;
    padding-left: 20px;
}*/
span.titolo-fotogallery-sistemazione {
    display: block;
    margin: 0 0 15px 0;
}
.panel-fotogallery-sistemazione{
	padding:20px 30px;
	margin:5px 0 0 !important;
}
.embed-mappa-sistemazione{
	height:350px;
}
/* FIXED BAR */
.contenitore-generale-interno{
	position:relative;
}
.sottomenu-fixed {  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    float: right;
    width: 100%;
    background: #fff;
    border-bottom: 0.5px solid #eee;
    box-shadow: 0 0 10px #d5d5d5;
}
a.brand-menu-interno {
    color: #333;
    text-decoration: none;
    font-family: roboto;
    font-weight: 400;
    margin: 20px 0 15px 0px;
    float: left;
    display: none;
	opacity:0;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	-o-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
.sottomenu-fixed a.brand-menu-interno {
	display:block;
	opacity:1;
}
@media screen and (max-width: 767px) {
	.brand-menu-interno{
		display:none !important;
	}
	.tab-fixed {
		/*width: auto !important;
		padding:0 15px 0 0;*/
		position: relative !important;
		top:auto !important;
		z-index:auto !important;
		width:auto !important;
	}
	.contenitore-tab-centro {
		margin: 0;
	}
}
.tab-fixed {
    position: fixed;
    top: 56px;
    z-index: 999;
    width: 1080px;
    background: #fff;
}
.contenitore-tab-centro .nav-tabs {
    border-bottom: 0.5px solid #ccc;
}
.contenitore-menu-interno {
    width: 100%;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
	.contenitore-menu-interno {
		padding:0 10px;
	}
	.contenitore-tab-centro .nav-tabs {
		border-bottom: none;
	}
}
.contenitore-centro-scuola h3{
	color:#333;
}
.contenitore-centro-scuola p{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
	color:#333;
}

/* STYLE CAROUSEL IMMAGINI SCUOLA */

.swiper-container-6 {
	width: 100%;
	height: 200px;
	margin:0 auto;
}
.swiper-container-6 .swiper-slide {
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	flex-shrink: 0;
	width: 100%;
	max-width: 250px;
	height: 200px;
	position: relative;
	text-align: center;
	cursor:pointer;
}
.swiper-container-6 .box-immagine-sistemazione img{
	position: absolute;
    height: 200px;
	width:250px;
    top: 0;
    left: 0;
}
.swiper-container-6 .container-slider-gallery-centro {
    width: 100%;
	position:relative;
}
.swiper-container-6 .box-immagine-sistemazione{
	position:relative;
	width:250px;
	height:200px;
}

/* FINE STYLE IMMAGINI SCUOLA */

.container-slider-gallery-scuola {
    width: 100%;
	position:relative;
}
span.titolo-fotogallery-scuola {
    text-align: left;
    display: block;
    margin: 0 0 15px 0;
}
.contenitore-tab-corsi {
    padding: 0;
    margin: 0;
}
.sistemazione .panel-body {
    margin: 0 0 5px;
}

/* INIZIO STYLE SPINNER */

.csspinner {
    position: relative;
}
.csspinner:before {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    opacity: 1;
}
.csspinner:after {
    z-index: 2;
    content: "";
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    transition: all .75s ease 0s;
    -webkit-transition: all .75s ease 0s;
    border-radius: 100%;
    border-top: 4px solid #555555;
    animation: standard .75s infinite linear;
    -webkit-animation: standard .75s infinite linear;
}
.csspinner.no-overlay:before {
    content: none;
    display: none;
}
@-webkit-keyframes standard {
    from {
		transform:rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
		transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@keyframes standard {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.csspinner.traditional:after {
    border-right: 4px solid #777777;
    border-top: 4px solid #777777;
    border-left: 4px solid #999999;
    border-bottom: 4px solid #bbbbbb;
}

/* FINE STYLE SPINNER */

.contenitore-tab-corsi .panel.panel-default {
	padding: 10px;
    border: 1px solid #ccc;
}
.panel-body-interno .panel.panel-default {
    padding: 0;
    border-left: none;
    border-right: none;
}
.contenitore-centro-scuola .panel-default,
.contenitore-centro-scuola-foto .panel-default {
    border-bottom: none;
    box-shadow: none;
    border-top: none;
    border-right: none;
    border-left: snow;
    margin: 15px 0 0 !important;
}
.contenitore-centro-scuola .panel,
.contenitore-centro-scuola-foto .panel {
    border-radius: 0;
}
.contenitore-centro-scuola .panel-body,
.contenitore-centro-scuola-foto .panel-body {
    background: white;
}
.contenitore-centro-scuola .panel-body {
    margin: 0 0 5px;
}

/* INIZIO STYLE BANNER PROMO TOPBAR */

.banner-promo {
	bottom: 0;
	left: 0;
	margin: 0 auto;
	min-width: 320px;
	width:100%;
	height:20px;
	background: url("../images/promo-top.jpg") no-repeat center center;
	background-size:cover;
}
.banner-promo-icon{
	cursor: pointer;
	display: inline-block;
	line-height: 26px;
	margin: 0 auto;
	padding: 0px 25px;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}
.banner-open{
	cursor: pointer;
	display: inline-block;
	line-height: 26px;
	margin-bottom: 0;
	padding: 0px 25px;
}
.contenitore-banner-promo{
	position:relative;
}
.banner-promo-container {
	bottom: 40px;
	height: auto;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
}
.banner-promo-box.text-center {
	background: white;
	padding: 25px;
	box-shadow: 0 0 10px #666;
	opacity: 0.95;
	display: inline-block;
	margin: 0 auto;
	max-width: 980px;
	min-width: 200px;
}
.glyphicon-remove{
	font-size:25px;
}
.corso-centro-contenuto {
    padding: 5px;
}

/* FINE STYLE BANNER PROMO TOPBAR */

.contenitore-tab-corsi .table-responsive th,
.contenitore-tab-corsi .table-responsive td {
    padding: 5px 0 !important;
}

/* FINE CENTRO ADULTI */

/* INIZIO STYLE PAGINA CATALOGO */

.box-titolo-pagine{
	padding:0;
	margin:10px 0 0;
}
.box-titolo-pagine h1.titolo-pagina-catalogo{
	color:#333;
	font-size:36px;
	line-height:36px;
	font-weight: 400;
}
.box-titolo-pagine span{
	color:#333;
	font-size:24px;
	line-height:36px;
	font-weight: 300;
}
.collapse-catalogo{
	margin:40px 0 0;
	border-top:1px solid #ccc;
}
.collapse-catalogo .panel-default > .panel-heading {
	padding: 0;
}
.collapse-catalogo .panel-heading{
	position:relative;
}
.collapse-catalogo .panel-heading a:before {
	font-family: "FontAwesome";
	content: "\f106";
	position: absolute;
	right: 20px;
	font-size: 20px;
	font-weight: 400;
	top: 50%;
	line-height: 1;
	margin-top: -10px;
	color:#333;
}
.collapse-catalogo .panel-heading a.collapsed:before {
	content: "\f107";
}
.collapse-catalogo .panel-heading{
	background-color:white;
	box-shadow:none;
}
.collapse-catalogo .panel-default{
	border-left:none;
	border-right:none;
	border-top:none;
	border-bottom:1px solid #ccc;
	border-radius:0;
}
.collapse-catalogo .panel-title a {
	font-size: 16px;
    text-decoration: none;
    line-height: 25px;
    font-weight: 300;
    padding: 20px 0;
    display: block;
}
.collapse-catalogo .panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top:none;
}
.collapse-catalogo .panel{
	box-shadow:none !important;
} 
.collapse-catalogo .panel-body p {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 20px;
    padding: 0;
    color: rgba(0,0,0,0.6);
}
.collapse-catalogo .panel-body li{
	font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    padding: 0;
    color: rgba(0,0,0,0.6);
}
.contenitore-destinazioni .titolo-section{
	line-height:30px;
}
.singola-destinazione{
	margin:15px 0 0 13.5px;
	display:block;
	padding:0 !important;
}
.singola-destinazione:first-child{
	margin-left:0;
}
.singola-destinazione a{
	font-size:18px;
	line-height:40px;
	color:rgba(0,0,0,0.6);
	text-decoration:none;
	display:block;
}
@media screen and (max-width: 768px) {
	.singola-destinazione a img {
		display: none;
	}
	.singola-destinazione{
		margin:15px 0 0;
	}
	.singola-destinazione a{
		font-size:18px;
		line-height:40px;
		color:rgba(0,0,0,0.6);
		text-decoration:none;
		display:block;
	}
	.singola-destinazione a.link-singola-destinazione{
		border-bottom:1px solid #ccc;
	}
}
@media (min-width: 768px) {
	.col-md-4-5 { width: 100%; }
}
@media (min-width: 992px) {
  .col-md-4-5 { width: 19%; }
  .singola-destinazione{
		margin:15px 0 0 12px;
		display:block;
		padding:0 !important;
   }
}

@media (min-width: 1200px) {
  .col-lg-1-5 { width: 20%; max-width:205px; }
}
.container.contenitore-destinazioni {
    padding-bottom: 50px;
}
.container.contenitore-centri {
    padding-bottom: 50px;
}
.contenitore-centro{
	background-color:#f8f8f8;
	padding:18px;
	height:363px;
}
.contenitore-centro .colonna-contenitore-centro{
	background-color:white;
	padding:18px;
	height:100%;
}
.colonna-contenitore-centro a.titolo-centro {
    color: #444;
    text-decoration: none;
    font-weight: 400;
    font-family: 'roboto';
    font-size: 18px;
    line-height: 22px;
}
.colonna-contenitore-centro a.titolo-centro span{
    font-weight: 300;
	display:block;
}
.colonna-contenitore-centro ul{
	list-style:none;
	margin:40px 0;
	padding:0;
}
.colonna-contenitore-centro ul li{
	font-size:16px;
	line-height:24px;
	font-weight:300;
}
.colonna-contenitore-centro ul li span {
    font-weight: 400;
	font-size:16px;
	line-height:20px;
}
.colonna-contenitore-centro a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
}
.colonna-contenitore-centro a:hover {
    text-decoration: underline;
}
.colonna-contenitore-centro span.catalogo {
    display: block;
    margin: 40px 0 5px;
    font-size: 16px;
}
.colonna-contenitore-centro p{
	font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.6);
}
/* FINE STYLE PAGINA CATALOGO */